<h1 class="pb-5 text-2xl">イベント管理</h1>

<app-content-container>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>開催日</th>
        <th>イベント名</th>
        <th>参加人数</th>
        <th>場所</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.date }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.numberOfParticipants }}</td>
        <td>{{ data.address }}</td>
      </tr>
    </tbody>
  </nz-table>
</app-content-container>
