<div nz-row nzJustify="space-between">
  <h1 class="pb-5 text-2xl font-bold">イベント管理</h1>
  <app-base-button
    buttonType="primary"
    iconType="plus-circle"
    (click)="onClickAdd()"
  >
    イベント登録
  </app-base-button>
</div>

<app-content-container>
  <nz-table
    #list
    [nzData]="(list$ | async) || []"
    [nzLoading]="loading$ | async"
  >
    <thead>
      <tr>
        <th nzWidth="210px">開催日</th>
        <th>イベント名</th>
        <th nzWidth="95px">参加人数</th>
        <th>場所</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of list.data">
        <td>{{ data.startDate | date: 'yyyy年MM月dd日 h:mm' }} ~</td>
        <td>
          <ng-container
            *ngIf="!data.url; else linkEventName; context: { data: this.data }"
          >
            {{ data.name }}
          </ng-container>
          <ng-template #linkEventName>
            <a
              nz-button
              nzType="link"
              target="_blank"
              rel="noopener noreferrer"
              [href]="data.url"
              class="p-0"
              >{{ data.name }}</a
            >
          </ng-template>
        </td>
        <td>{{ data.numberOfParticipants }} / {{ data.capacity }}</td>
        <td>{{ data.location }}</td>
      </tr>
    </tbody>
  </nz-table>
</app-content-container>
